.tr {
  display: flex;
}

// Variante grid:
dl {
  display: grid;
  grid-template-columns: 1fr 60%;
  font-size: 1.2rem;
}
dd {
  margin: 0;
  // padding-left: 1rem;
}
dl dd {
  margin-bottom: 0.1em;
}

a[href^='tel'] {
  white-space: nowrap;
}

.fieldset {
  border-radius: 0.5rem;
  border: 1px solid var(--text-color);
  width: 100%;
  display: flex;
  justify-content: space-around;

  button {
    height: 1.7rem;
    background: var(--hover-color);
    padding: 0 0.5rem;
    margin: 0;
    &:disabled,
    .disabled {
      display: none;
    }
  }
}

/* ============ tablet etc ============ */
@media (max-width: 1350px) {
  .fieldset {
    .plzgesucht,
    .gefunden {
      label {
        float: left;
      }
      input {
        float: left;
      }
    }
  }
}

/* ============ small devices ============ */
@media (max-width: 991px) {
  .fieldset {
    flex-direction: column;
  }
}
