.site-header {
  width: 100%;

  &__logo {
    display: flex;
    background-color: var(--light-bg-color);
    vertical-align: text-bottom;
  }

  &__logo-bild {
    width: 15%;
  }

  &__logo-text {
    width: 85%;
    color: var(--logo-color);
    font-size: 3rem;
    text-align: center;
    padding-top: 7vh;
    vertical-align: baseline;
  }

  h1 {
    height: 4rem;
    line-height: 4rem;
    background-color: var(--light-bg-color);
    padding: 0;
    margin: 0;
  }
}
