.plzsearch {
  font-size: 1.3rem;
  margin: 1rem 0;
}

#plzresult {
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-auto-columns: 15rem;
  grid-template-columns: auto auto auto auto;
  margin-bottom: 1rem;
}

.plzMap {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(autofill, minimax(1fr, 15%));
}

.bbezirke-svg {
  // background: url(berlin-mit-stadtteilgrenzen_epsg3857.svg) 50% 50% no-repeat;
  background: url('data:image/svg+xml;utf8,<svg>berlin-mit-stadtteilgrenzen_epsg3857.svg</svg>');
}

svg path {
  transition: 0.2s all ease-in-out;
}

svg:hover path {
  d: path(
    'M 375.71009 592.76627 l 0.1475 -0.89423 1.68688 -0.47932 1.01413 -0.67316 0.60266 -9.5298 2.92038 0.13031 0.43198 -4.93574 6.93248 0.52536 0.0148 1.15115 3.03489 -0.11304 -0.1145 -0.79974 1.59128 0.07526 0.997 -0.45712 1.00146 -0.85802 -1.02857 -1.21149 0.70664 -0.6305 0.00517 -1.13391 0.76907 -0.68849 1.85881 2.2845 0.86306 -0.71513 1.40776 1.52982 1.28237 1.07766 1.00663 0.75963 1.09563 0.68407 1.57006 0.81145 1.20158 0.48611 1.91357 0.61144 1.88396 0.44306 1.12774 0.14905 2.40583 0.14993 -0.00535 0.70016 -0.15321 0.00527 0.00107 0.34378 0.70218 0.57336 0.09185 0.31245 0.14518 0.02811 -0.93922 0.64744 -0.00125 0.20234 1.55383 0.2448 -0.0025 1.84332 0.763 0.00059 -0.02033 1.55604 3.47846 0.05007 0.20118 0.6808 -1.31109 0.88137 0.01694 0.12298 -0.16319 0.12591 -0.60106 0.03719 -0.13591 0.20409 0.66562 0.86116 -0.12021 0.18623 -0.42823 0.02401 -0.46925 0.62163 -0.53542 0.19062 -0.59125 0.39529 -1.71827 -0.03719 -0.04923 0.59762 -0.77531 0.66555 -0.01017 0.32355 0.46497 0.3947 0.67561 0.36717 -0.56646 0.79261 -0.28769 1.1305 -0.35332 -0.01347 -0.07598 3.16276 0.14518 0.00176 0.93155 0.93605 -0.03228 1.5465 -0.99825 0.29835 0.09043 0.29132 0.48334 0.50856 -0.0066 0.39613 -0.47674 0.45762 -0.05119 0.14024 0.04994 0.07788 -0.12485 0.1215 0.96169 0.50065 -0.0132 1.54849 -1.16769 0.86251 -0.00713 0.1581 0.72804 0.01259 -0.05315 2.70372 0.63031 0.02664 -0.0239 1.09318 1.16109 1.27469 -0.49708 0.4892 -0.48834 0.80889 -0.17372 -0.24475 -0.86252 -0.22864 -0.17568 -0.32438 -0.79314 0.26202 -0.4293 0.68213 -0.71092 -1.25271 -1.43611 -0.0325 -0.02515 0.61538 -1.03642 -0.03367 0.04138 -0.5943 -2.84369 -0.07905 -0.00785 0.49828 -1.07673 2.36606 -3.42227 -1.84875 -1.4964 2.52004 -4.53128 -2.90502 1.00681 -0.89731 -0.05529 -1.11923 -0.71342 -0.84872 -0.83024 0.47984 -0.95723 -0.88444 -1.19159 -0.1256 0.02319 -1.13945 -1.10687 0.04567 -1.57808 -2.54302 -0.54844 -0.52173 -0.58625 -1.72681 -0.39381 -2.1417 -1.24527 0.12356 0.19708 -2.64709 -0.10184 -0.00615 0.02854 -0.3288 -1.12524 -0.08754 -0.10559 1.32195 -0.85343 -0.05651 -0.25433 2.92698 -2.04377 -2.32618 0.18763 -1.78426 -1.29468 -0.13732 0.08115 -1.15361 -3.28494 -0.76917 -0.27199 -0.19647 -0.11397 -0.64679 0.01873 -0.59585 -1.33891 -0.28284 -0.18442 -0.45179 -0.66366 -0.91266 z'
  );
  fill: lime;
}

#berlinerbezirke{
  fill: red;
  stroke: black;
}
