.tr {
  display: flex;
}

// Variante grid:
dl {
  display: grid;
  grid-template-columns: 1fr 100%;
  font-size: 1rem;
}
dd {
  margin: 0;
  padding-left: 1em;
}
dl dd {
  margin-bottom: 0.1em;
}

a[href^='tel'] {
  white-space: nowrap;
}
